# Entornos virtuales
venv/
.venv/

# Caché de Python
__pycache__/
*.py[cod]

# Archivos de Jupyter
.ipynb_checkpoints/

# Variables de entorno
.env

# Archivos del sistema
.DS_Store
Thumbs.db

models/vit_vehicle_best_model/model.safetensors

models/
